* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #7b6d8d;
    --secondary: #8499b1;
    --tertiary: #593f62;
    --quaternart: #a5c4d4;
    --quinary: #36151E;
}

body {
    background-color: var(--primary);
    color: var(--quaternart);
}

header {
    background-color: var(--tertiary);
    padding: 2px;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    color: var(--quaternart);
}

header nav {
    float: right;
    padding: 2px;
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;    
}

header a {
    color: var(--quaternart);
    text-decoration-color: var(--quaternart);
    text-decoration: underline;
}

header a:hover {
    background-color: var(--secondary);
}

#hero {
    background-image: url(https://cdni.iconscout.com/illustration/premium/thumb/black-muslim-woman-4240831-3518326.png);
}

figcaption {
    display: inline-block;
    font-size: 25px;
    color: red;
    font-weight: bolder;
    margin-left: 800px;
}

.headersection {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 50px;
    display: inline;
    flex-direction: column;
    align-items: stretch;
}

.content {
    width: 70%;
    padding: 15px;
    color: var(--quaternart);
    font-size: 25px;
}

.content p {
    padding: 15px;
}

.headersection h2 {
    width: 30%;
    padding: 15px;
    border-right: 5px solid var(--quinary);
}

#row-one {
    width: 65%;
    height: 100%;
    margin: 20px;
    border: 5px solid burlywood;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--quinary);
    background-image: url(https://previews.123rf.com/images/peshkov/peshkov1905/peshkov190500374/128578729-abstract-glowing-circuit-coding-background-programming-and-technology-concept-3d-rendering.jpg);
}

#work-two,
#work-three,
#work-four,
#work-five {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v627-aew-41-technologybackground_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=830e4e729fe5bfb776d8789227be01d3);
    border: 5px solid burlywood;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--quinary);
}

.smaller-rows {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.smaller-rows .child {
    width: 50%;
    margin: 20px;
}

#ContactMe {
    margin-top: 400px;
}

.headersection ul li,
#contact {
    display: inline-block;
    color: yellow;
    margin-top: 400px;
    padding: 15px;
}

h3 a {
    color: var(--quaternart);
}

#number {
    width: 20%;
    font-size: 25px;
    display: inline-block;
    color: var(--quaternart);
    text-decoration: underline;
}

#number:hover {
    background-color: var(--secondary);
}

.link {
    font-size: 25px;
    color: var(--quaternart);
    text-decoration: underline;
    display: inline-block;
    margin: 20px;
}

.link:hover {
    background-color: var(--secondary);
}

@media screen and (max-width: 692px) {
    body {
        background-color: var(--secondary);
        color: var(--quinary);
    }
    header {
        background-color: var(--primary)
    }
    header h1,
    header a,
    .content p,
    #number,
    .link {
        color: var(--quinary);
    }

    h3,
    h3 a {
        color: var(--primary)
    }
}
  
